@import '../../../../assets/themes/_vars';

.cart-item {
	display: flex;
	flex-direction: row;
	font-size: $fontSizeLarge;
	height: 300px;
	width: 650px;
	box-shadow: 17px 19px 24px 0 $shadowColor;
	
	&-picture img {
		height: 300px;
		width: 260px;
	}

	&-info {
		display: flex;
		flex-direction: column;
		gap: 42px;
		padding: 22px;
	}

	&-parameters {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		gap: $paddingDefault;
		width: 166px;

		input {height: 25px; width: 45px; text-align: center;}
		p {font-size: 22px;}
	}
	
	&-color {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&-close {
		appearance: none;
		background-color: transparent;
		border: none;
		font-size: $fontSizeLarge;
		padding: 22px;
		height: 32px;
		width: 32px;
	}
}
