@import '../../../../assets/themes/_vars';

.specifics {
	display: flex;
	gap: 30px;
	justify-content: center;

	background-color: $colorBgMenu;
	height: 340px;
	
	&-sample {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		
		color: #fbfbfb;
		justify-content: center;

		&-icon {height: 40px; width: 40px;}
		& p {font-weight: 400;}
	}
	
}
