@import '../../../assets/themes/_vars';

.subscribe {
	background-size: cover;
	background-repeat: no-repeat;
	height: 448px;

	.content {
		display: flex;
		align-items: center;
	}

	&-info {
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: center;
		
		width: 360px;
		height: 224px;
	}

	&-info-icon {
		height: 96px;
		width: 96px;
	}

	&-info-text {
		color: $colorText;
		font-weight: 400;
		font-size: 20px;
		line-height: $fontSizeLarge;
		text-align: center;
	}
	
	&-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
		
		width: 560px;
	}
	
	&-form-caption {
		color: $colorBgMenu;
		font-size: fontSizeLarge;
		font-weight: 700;
		line-height: 28px;
		text-align: center;
	}
	
	&-form-email {
	
		background-color: $colorBgFormInput;
		border: none;
		border-bottom-left-radius: 50px;
		border-top-left-radius: 50px;
		color:$colorText;
		opacity: 0.67;
	
		box-sizing: border-box;
		padding-left: 20px;
		height: 50px;
		width: 250px;
	
		font-size: $fontSizeMedium;
		font-weight: 400;
	
	}
	&-form-email:focus{
		border: none;
		outline: none;
	}
	
	&-form-button {
		
		background-color: $colorAccent01;
		border: none;
		border-color: $colorAccent01;
		border-bottom-right-radius: 50px;
		border-top-right-radius: 50px;
		
		color: $colorTextInvert;
		font-weight: 400;
		font-size: $fontSizeMedium;
		text-align: center;
	
		height: 50px;
		width: 100px;
	}
	
	&-form-button:hover {
		background-color: $colorAccent02;
	} 
	
	&-form h3 span {
		display: block;
		font-size: 18px;
		line-height: 20px;
		font-weight: 400;
	}
}

.tail {
	background-color: $colorBgMenu;

	.content {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	
		height: 80px;
	}

	&-copyright {
		color: $colorTextInvert;
		font-size: $fontSizeMediumPlus;
	}

	&-social-media {
		gap: 8px;
		height: min-content;
	}

	&-social-media-link {
	
		padding: 0px;
		min-height: 16px;
		min-width: 16px;
		height: 30px;
		width: 30px;
	
		background-color: $colorBgMain;
		background-repeat: no-repeat;
		background-position: center;
		border: none;
	
	}
	&-social-media-link:hover {
		background-color: #0e9280;
		filter: invert(1);
	}
}