.icon-cart-page  		{background-image: url(../images/payment.svg);}
.icon-register-page {background-image: url(../images/profile.svg);}
.icon-search-string {background-image: url(../images/search.svg);}
.icon-settings-page {background-image: url(../images/settings.svg);}
.icon-welcome-page  {background-image: url(../images/logo.png);}

.offers-for-kids 		{background-image: url(../images/offer_for_kids.jpg);}
.offers-for-man			{background-image: url(../images/offer_for_men.jpg);}
.offers-for-woman 	{background-image: url(../images/offer_for_woman.png);}
.offers-accesories 	{background-image: url(../images/offer_accessories.jpg);}

.subscribe 					{background-image: url(../images/subscribe_bg.jpg);}
.icon-facebook 			{background-image: url(../images/contact_facebook.svg);}
.icon-inst 					{background-image: url(../images/contact_inst.svg);}
.icon-pin 					{background-image: url(../images/contact_pin.svg);}
.icon-twitter 			{background-image: url(../images/contact_twitter.svg);}