@import './vars';
@import './basics';
@import './resources';

.main {
	.div{display: inline;}
}

.field {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.label {
	color: $colorTextShadow;
	font-size: $fontSizeMedium;
	line-height: 1px;

	padding-left: 5px;		
	width: 100%;
}

@media only screen and (min-width: 769px) {
	.content {
		max-width: 1600px;
		width: 1140px;
    justify-self: center;
  }

  .features {
    grid-template-columns: 360px 360px 360px;
    height: 340px;
  }
    
  .subscribe .content {
    flex-direction: row;
		justify-content: space-around;
  }
}